.navbar-brand {

  background-color: #0d6efd;
  /* degradado rojo → azul (ajusta colores si quieres) */
  background-image: linear-gradient(90deg, #e53935 0%, #0d6efd 100%);
  color: #fff;              /* asegúrate de que el texto contraste */
  padding: 0 .5rem;         /* que se note el fondo alrededor del texto/logo */
  border-radius: 4px;       /* opcional, suaviza bordes */
  display: inline-flex;     /* ayuda a envolver bien imagen + texto */
  align-items: center;
  gap: .5rem;               /* separación entre logo y texto */
}


textarea.form-control {
  font-family: monospace;
  font-size: medium;
}

.ka-indicator {
  display: none;
}

.htmx-request .ka-indicator {
  display: inline-block;
}

.htmx-request .ka-indicator-hide {
  display: none;
}
